{% extends "base.html" %}
{% block content %}


<div class = "d-flex flex-column justify-content-center flex-wrap rounded">
    <div class="d-flex p-2 justify-content-center">
        <h1>Create Book</h1>
    </div>
    <div class = "p-2 rounded formOutline" style=" background-color:#FFFFFF">
        <form action="/books/create/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{error}}
            {{form.as_p}}
            <button type="submit" class="formButtonColor btn btn-secondary btn-block ">Submit</button>
        </form>
    </div>
{% endblock %}