{% extends "base.html" %}
{% block content %}


<div class="d-flex container flex-wrap">
    <div class="d-flex justify-content-center w-100 my-4">
        <h1>Dashboard</h1>
    </div>
    
    
    {% regroup books_created by created|date:"F" as created_list %}
    {% for month in created_list %}
        <div class="d-flex album p-4 m-4 w-100 flex-wrap shadow" style="background:white">
            <div class="d-flex justify-content-left w-100 pl-4">
                <h2 class="text-capitalize">Agregados en {{ month.grouper }}</h2>
            </div>
            <div class="container-fluid">
                <div class="row">   
                    {% for book in month.list %}
                    <div class= "col-4">
                        <div class="card my-2" style="width: 100%">
                            <div class="card-body shadow ">
                                <a href="{% url 'book_detail' book.id %}">
                                    <strong class="text-dark"> {{book.title}} </strong>
                                    <p class="text-dark">{{book.autor}}</p>
                                    {% if book.goal %}
                                        <p class="text-dark">Meta: {{book.goal|date:'j/M/Y'}}</p>
                                    {% endif %}
                                    {% if book.date_completed %}
                                        <p class="text-dark">{{ book.date_completed|date:'j/M/Y' }}</p>
                                    {% endif %}
                                    <p class="text-dark">{{book.pages_read}} de {{book.pages_total}}</p>
                                    <p class="text-dark">{{book.progress}}%</p>
                                    <div class= "progress" >
                                        <div style="width: {{book.progress}}%" class="progress-bar" role="progressbar" aria-valuenow="{{book.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>  
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    {% regroup books_completed by date_completed|date:"F" as completed_list %}
    {% for month in completed_list %}
        <div class="d-flex album p-4 m-4 w-100 flex-wrap shadow" style="background:white">
            <div class="d-flex justify-content-left w-100 pl-4">
                <h2 class="text-capitalize">Terminados en {{ month.grouper }}</h2>
            </div>
            <div class="container-fluid">
                <div class="row">   
                    {% for book in month.list %}
                    <div class= "col-4">
                        <div class="card my-2" style="width: 100%">
                            <div class="card-body shadow ">    
                                <a href="{% url 'book_detail' book.id %}" class="text-dark">
                                    <strong class="text-dark"> {{book.title}} </strong>
                                    <p class="text-dark">{{book.autor}}</p>
                                    {% if book.goal %}
                                        <p class="text-dark">Meta: {{book.goal|date:'j/M/Y'}}</p>
                                    {% endif %}
                                    {% if book.date_completed %}
                                        <p class="text-dark">{{ book.date_completed|date:'j/M/Y' }}</p>
                                    {% endif %}
                                    <p class="text-dark">{{book.pages_read}} de {{book.pages_total}}</p>
                                    <p class="text-dark">{{book.progress}}%</p>
                                    <div class= "progress" >
                                        <div style="width: {{book.progress}}%" class="progress-bar" role="progressbar" aria-valuenow="{{book.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> 
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class=" container-fluid mx-2 mb-5 row w-100 ">
        <div class= "col-8 mr-4 bg-light shadow" style="width=60%">
            <h1 class="mb-2">{{ profile.date_most_pages_read|date:'j M'  }}</h1>
            <h2 class="ml-4">{{ profile.most_pages_read }} páginas</h2>
        
            <h1 class="mb-2">Páginas leídas este mes:</h1> 
            <h2 class="ml-4">{{profile.pages_this_month }}</h2>
         </div>   
        
    
        <div class= " col ml-4 bg-light shadow">
            <h1 class= "mb-2">Promedio de páginas por día </h1>
            <h2 class= "mb-2 ml-4">{{ profile.average_pages_for_day }} / Día</h2>
        </div>
    </div >

</div>

{% endblock %}